* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

body {
  background-color: #272727;
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto.ttf");
}

label,
button {
  display: block;
}

textarea {
  resize: none;
  width: 100% !important;
  height: 124px !important;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  outline: none;
  margin-top: 8px;
  background-color: transparent;
  color: #dddddd;
}

textarea:focus {
  border: 2px solid #9b80ff;
}

input {
  width: 100%;
  padding: 0 7px;
  height: 32px;
  margin-top: 8px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: #dddddd;
}

input:focus {
  border: 2px solid #9b80ff;
}

input::placeholder {
  color: #cccccc;
}

button {
  width: fit-content;
  max-width: 100%;
  background-color: #8668f3;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  color: #ffffff;
  font-size: 14px;
  margin: 16px 0 0 auto;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 700;
}

button:not(.disabled):not(dialog button):hover {
  background-color: #6945eb;
}

.like-btn {
  margin: unset;
  cursor: pointer;
}

.disabled {
  background-color: gray;
  cursor: not-allowed;
}

.error {
  background-color: rgb(255, 90, 90);
  text-align: center;
  padding: 35px;
  border-radius: 5px;
  color: #ffff;
}

.error img {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
}
