.signin-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 24px;
  max-width: 95%;
  border: 1px solid #cccccc;
  border-radius: 16px;
}

.signin-page h2 {
  margin-bottom: 24px;
}

.signin-page form {
  width: 500px;
  max-width: 95%;
}

.signin-page input {
  width: 100%;
  padding: 0 7px;
  height: 32px;
  margin-top: 8px;
  border: 1px solid #777777;
  border-radius: 5px;
  outline: none;
}

.signin-page input:focus {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.349);
}

.signin-page input::placeholder {
  color: #cccccc;
}

.signin-page label,
.signin-page button {
  display: block;
}

.signin-page button {
  width: 110px;
  height: 32px;
  max-width: 100%;
  background-color: #7695ec;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  margin: 16px 0 0 auto;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 700;
}

.signin-page button:hover {
  background-color: #4f79ec;
}

label {
  font-weight: 400;
}

.signin-page .disabled {
  background-color: gray;
  cursor: not-allowed;
}

@media screen and (max-width: 280px) {
  .signin-page h2,
  .signin-page label {
    text-align: center;
  }

  .signin-page button {
    margin: 16px auto 0 auto;
  }
}
